[submodule "blog/themes/hugo-coder"]
	path = blog/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "hugo_blog/themes/hugo-coder"]
	path = hugo_blog/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "hugo_blog/themes/terminal"]
	path = hugo_blog/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "hugo_blog/themes/hello-friend-ng"]
	path = hugo_blog/themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
